---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  {% for category in collections.categories %}
  <url>
    <loc>{{ site.url }}/category/{{ category | slug }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
  {% for pageUrl in ["/about/", "/contact/", "/privacy/", "/financial-disclaimer/"] %}
  <url>
    <loc>{{ site.url }}{{ pageUrl }}</loc>
    <changefreq>yearly</changefreq>
    <priority>0.4</priority>
  </url>
  {% endfor %}
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{% if post.data.updated %}{{ post.data.updated | isoDate }}{% else %}{{ post.date | isoDate }}{% endif %}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}
</urlset>